<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	  
<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/png">
    <title>Autorization</title>
    <link rel="stylesheet" th:href="@{/css/startStyle.css}"/>
	<link rel="stylesheet" th:href="@{/css/formStyle.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script th:src="@{https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{/js/showPass.js}"></script>
</head>

<body>
    <div id="container">      
        <div class="form-wrapper">
        	<form th:action="@{/login}" method="post" class="auto">
	            <div th:if="${param.error}">
	                <div class="alert alert-danger">Invalid username or password.
	                </div>
	            </div>
	            
	            <div th:if="${param.logout}">
	                <div class="alert alert-info">You have been logged out.</div>
	            </div>
	            
	               <div>
	                   <img th:src="@{/images/bluelogotype.png}"/>
	               </div>
	               
	                <div id="field1" class="form-group">
	                    <input type="text"
						id="username" name="username" class="login"
						autofocus="autofocus" placeholder="Username" th:placeholder="#{input.login}">
	                </div>
	                
	                <div id="field2" class="form-group">
	                    <input type="password"
						id="password-input" name="password" class="form-control"
						placeholder="Password" th:placeholder="#{input.password}">
	                    <a href="#" class="password-control" id="eye1" onclick="showPassword('#password-input', '#eye1')"></a>
	                </div>
	                
	                <div id="field3" class="form-group">
	                   <input type="submit" class="enter" value="Войти" th:value="#{button.enter}">
	                </div>
	                
	                <div class="form-group">
		        		<input type="checkbox" name="remember-me" id="remember-me"><label for="remember-me" th:text="#{form.label.rememberme}"></label>
		        	</div>
		        	
	                <div id="restore-wrapper">
	                    <a href="#" th:href="@{/recovery}"><span class="goReg" id="restorePassword" th:text="#{password.recovery}">Восстановить пароль</span></a>
	                </div>
	                
	                <div id="field5">
	                    <a href="#" th:href="@{/profile/registration}"><span class="goReg" th:text="#{registration}">Зарегистрироваться</span></a>
	                </div>
	                
            </form>
        </div>
    </div>
</body>

</html>