<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/png">
    <title>Change password</title>
    <link rel="stylesheet" th:href="@{/css/passwordRecovery.css}">
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script th:src="@{https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js}"></script>
	<script th:src="@{/static/js/notification.js}"></script>
</head>

	<body>
		<div id="container">
		    <div class="form-wrapper">
		        <form action="#" th:action="@{/recovery}" method="post" class="auto" th:object="${emailForm}">
		            <div id="logo">
		                <img th:src="@{/images/bluelogotype.png}" alt="">
		            </div>
		            
		            <div id="field1">
		                <input type="email" class="email" placeholder="Email" th:field="*{email}">
		            </div>
		            
		            <div id="field3">
		                <input type="submit" class="enter" value="Отправить" th:value="#{emailSubmit}" th:href="@{/change_password}">
		            </div>
		            
		        </form>
		    </div>
		</div>
	</body>
	
</html>